.box-lista-recomendacoes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    margin: 1.5rem;
}

.img-filme {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ccc;
    height: 230px;
    width: auto;

    transition: all ease-in-out 0.5s;

    &:hover {
        transform: scale(1.03);
        box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
    }
}