#box-filmes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    margin-top: 25px;
    padding: 1rem;

    div {
        transition: all ease-in-out 0.5s;

        &:hover {
            transform: scale(1.03);
            box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
        }
    }
}

#box-search-filmes {
    display: flex;
    padding: 1rem 1rem 0rem 1rem;
    flex-direction: column;
}

#search-filmes {
    width: 30%;
    margin-top: 5px;

    @media only screen and (max-width: 995px) {
        width: auto;
    }
}

.thumb-filme {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ccc;
    height: 330px;
    width: auto;

    @media only screen and (min-width: 280px) {
        height: 370px;
    }

    @media only screen and (min-width: 360px) {
        height: 550px;
    }

    @media only screen and (min-width: 390px) and (max-width: 400px) {
        height: 550px;
    }

    @media only screen and (min-width: 407px) {
        height: 320px;
    }

    @media only screen and (min-width: 550px) and (max-width: 600px) {
        height: 400px;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 604px) {
        height: 330px;
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 800px) {
        height: 315px;
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 995px) {
        height: 310px;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {}
}