* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #303030;
    color: #ffffff;
}

input {
    padding: 0.5rem;
    background-color: #747474;
    color: #ffffff;
    border: #202020 solid 1px;
    border-bottom: 2px solid #fff;
    height: 35px;
    font-size: 0.8rem;

    &::placeholder {
        color: #cccccc;
    }
}